.btn {
  font-size: var(--font-size-100);
  display: block;
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn--blue {

}

.btn--yellow {

}

.btn--red {
  
}

