*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--barlow);
  font-size: var(--font-size-18);
  color: var(--very-dark-desaturated-blue);
  position: relative;
}