.container {
  /*height: 42rem;*/
}

.primary-heading,
.secondary-heading,
.tertiary-heading{
  font-family: var(--fraunces);
  font-weight: var(--font-weight-900);
}

.primary-heading {
  font-size: var(--font-size-600);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;
  color: var(--white);
}

.secondary-heading {
  font-size: var(--font-size-500);
  color: var(--very-dark-desaturated-blue);
}

.tertiary-heading {
  font-size: var(--font-size-400);
  color: var(--very-dark-desaturated-blue);
}
